@-webkit-keyframes appear{
  from {
    opacity:0;
  }
  to{
    opacity:1;
  }
}
@-moz-keyframes appear{
  from {
    opacity:0;
  }
  to{
    opacity:1;
  }
}

@-webkit-keyframes slideDown{
  from {
    top:50px;
    opacity:0;
  }
  to{
    top:55px;
    opacity:1;
  }
}
@-moz-keyframes slideDown{
  from {
    top:50px;
    opacity:0;
  }
  to{
    top:55px;
    opacity:1;
  }
}

@-webkit-keyframes slideDown{
  from {
    top:50px;
    opacity:0;
  }
  to{
    top:55px;
    opacity:1;
  }
}
@-moz-keyframes scale{
  0%{
    -moz-transform:scale(1,1);
  }
  50%{
    -moz-transform:scale(1.2,1.2);
  }
  100%{
    -moz-transform:scale(1,1);
  }
}
@-webkit-keyframes scale{
  0%{
    -webkit-transform:scale(1,1);
  }
  50%{
    -webkit-transform:scale(1.2,1.2);
  }
  100%{
    -webkit-transform:scale(1,1);
  }
}
