@mixin appicon($x,$y){
  background-position: (-$x*24px) (-$y*24px);
}

@mixin appbutton($color){
  border:1px solid $color;
  color:$color;
  background-color:$white;
  &:hover{
    border:1px solid lighten($color,10%);
    color:lighten($color,10%);
  }
  &:active{
    border:1px solid $color;
    color:$white;
    background-color:$color;
  }
}